<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <style>
        .map {
            height: 500px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    <title>OpenLayers example</title>
</head>
<body>
<h2>My Map</h2>
<div id="map" class="map"></div>

{% for d in data %}
    {{ d.gps[1] }}, {{ d.gps[0] }}<br>
{% endfor %}


<script type="text/javascript">
    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([1.082568, 49.451662]),
            zoom: 10
        })
    });

    var vectorSource = new ol.source.Vector({
        features: [
            {% for d in data %}
            new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ d.gps[1] }}, {{ d.gps[0] }}])),
            }),
            {% endfor %}
        ]
    });
    var markerVectorLayer = new ol.layer.Vector({
        source: vectorSource,
    });
    map.addLayer(markerVectorLayer);
</script>
</body>
</html>

